<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="icon"
      type="image/png"
      href="https://upload.wikimedia.org/wikipedia/commons/thumb/d/dd/NCAA_logo.svg/2000px-NCAA_logo.svg.png">
  <title>NCAA Football Teams: SEC</title>
  <link rel='stylesheet' href='/stylesheets/main.css'>
</head>
<body>
  <img src="https://upload.wikimedia.org/wikipedia/commons/9/90/SEC_new_logo.png" alt="">

  <%= yield %>

</body>
