<form action="/sec" method="post">
  <label for="">School</label>
  <input type="text" name="school">

  <label for="">College Town</label>
  <input type="text" name="location">

  <label for="">Mascot</label>
  <input type="text" name="mascot">

  <label for="">Logo</label>
  <input type="text" name="image_url">

  <button>Create</button>

</form>
