<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Sailormoon</title>
    <link rel="shortcut icon" type="image/x-icon" href="http://www.vogue.com/wp-content/uploads/2016/01/29/sailor-moon.jpg" />
  <link rel='stylesheet' href='/stylesheets/main.css'>
</head>
<body>

  <%= yield %>

</body>
