<h1>Movie Search</h1>

<form action="/results" method="get">

  <label for="movieName">Enter Movie Name :</label>
  <input id="movieName" type="text" name="movieName">


  <button>Search</button>
</form>
