
  
<form action="/multiple_results" method="get">
  <label id="movieLabel" for="movie">MOVIE :  </label>
  <input id="movieInput" type="text" id="movie" name="multiple_results">

  <button id="movieBtn">find my movie</button>
</form>