<div>
    <% @result_list.each do |film|%>
    <p>
        <a id="movieLink" href="/movies?multiple_results=<%= film["Title"] %>">
            <%= film["Title"] %>
        </a>
    </p>
    <% end %>
</div>
