

<form class="" action="/list" method="get">

  <label for="title">Enter Movie</label>
  <input type="text" id="title" name="title" placeholder="Enter Movie Here...">
  <button>Find my Movie!!!</button>

</form>
