<form action="/session" method="post">
  <label for="">email</label>
  <input type="text" name="email">

  <label for="">password</label>
  <input type="password" name="password"> <!--input type: password makes your input hidden -->

  <button>login</button>

</form>
