
<form action = "/multiple_result" method = "get">
  <p id ='search'><label for = "multiple_result">Search Movie</label></p>
  <input type="text" id = "multiple_result" name = "multiple_result" placeholder = "type movie title">

  <button>search</button>


 <p><a href = "/about">go to about</a></p>
