<div>
  <form action="/kings" method="post">
    <label for="">name</label>
    <input type="text" name="name">

    <label for="">reign</label>
    <input type="text" name="reign">

    <label for="">image url</label>
    <input type="text" name="image_url">

    <div id="createBtn">
      <button>create</button>
    </div>

  </form>
  
  <form action="/">

    <div id="homeBtn">
     <button>home page</button>
    </div>
    
  </form>
</div>