
  <% @titles.each do |movie| %>

    <a href="/movie?imdb_id=<%= movie['imdbID'] %>">
      <div class="selection">
        <p class="sel-text">Title: <%= movie['Title'] %></p>
        <p class="sel-text">Year: <%= movie['Year'] %></p>
        <img class="thumb" src="<%= movie['Poster'] %>" alt="poster">
      </div>
    </a>

  <% end %>

  <a href="/">Home</a><a href="/about">About</a>
