<div class="blog-content">
	
<div><h1 class="blog-title">A day in the Park</h1></div>
	<img src="../meinthepark.jpg" alt="">
	<p>
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non exercitationem illo debitis totam esse enim et, explicabo deleniti ipsam nulla sunt eveniet soluta dicta quas, ipsa inventore maiores sequi officia!
	</p>
</div>

<div class="blog-content">


<div><h1 class="blog-title">Miles davis</h1></div>
	<img src="../milesdavis.jpg" alt="">
	<p>
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non exercitationem illo debitis totam esse enim et, explicabo deleniti ipsam nulla sunt eveniet soluta dicta quas, ipsa inventore maiores sequi officia!
	</p>
</div>

</div>