
<div class="donate-form">
	
<form action="/thanks" method="get">
	
	<p>Hey Hows life? Your having a great time on my site right? How about helping for a good cause, sent a donation to help out. Thanks have a great day</p>
	<label class="contact-f" for="donation">amount</label>
	<input class="contact-f" type="text" id="donation" name="donate">
	
	<label  class="contact-f" for="name">your name</label>
	<input class="contact-f" type="text" id="name" name="name">
	

	<button id="btn">submit</button>
</form>
</div>