<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" href="css/style.css">
	<link href='https://fonts.googleapis.com/css?family=Indie+Flower' rel='stylesheet' type='text/css'>
	<meta charset="UTF-8">
	<title>Tad's</title>
</head>
<body>
<h1>Tads Blog site</h1>

<nav>
	<ul>
	  <li><a class="active" href="/">Tads</a></li>
	  <li><a href="/blog">blog</a></li>
	  <li><a href="/contact">contact</a></li>
	  <li><a href="/thanks">thanks</a></li>
	</ul>
</nav>

	<%= yield %>
	
</body>
</html>


