<h2>Thanks for taking the time to check out my blog <%= @name %> </h2>
<h2>Your Donation of $<%= @donate %> goes to a good cause</h2>

<img id="gold-man" src="http://4.bp.blogspot.com/-QE_sUqQ6Uy0/UgyvY25JpWI/AAAAAAAAFc4/0S0f47EKRZc/s1600/Gold+shirt.jpg" alt="">


<p class="notes">contact: taddavisweb@gmail.com </p>
