<!-- This is the add page -->


<form action="/guitars" method="post">
  <label for="">name</label>
  <input type="text" name="name">

  <label for="">img url</label>
  <input type="text" name="img_url">

  <button>create</button>
</form>
