
  
<form action="/movie" method="get">
  <label id="movieLabel" for="movie">MOVIE :  </label>
  <input id="movieInput" type="text" id="movie" name="movie">

  <button id="movieBtn">find my movie</button>
</form>