<h2>Sorry, no movies were found with that name.</h2>


<form action="/search" method="get">
  <label for="title">Let's try this again: </label>
  <input type="text" id="title" name="title" placeholder="terminator, frozen, etc.">
  <button>search</button>
</form>
