
<form action="/display_list" method="get">

  <label for="name">Movie Name</label>
  <input type="text" id="name" name="movie_search">

  <button>Search for movie</button>

</form>

<p><a href="/about">About this site</a><p>
