<!--
<form action="/about" method="get">

  <label for="title">Name the movie</label>
  <input type="text" id="title" name="title" placeholder="Frozen, etc.">
  <button type="button">Search!</button>

</form> -->
<div id="form">
<img src="https://camo.githubusercontent.com/852cd0958675090d530851681c27bbf1397a77fb/687474703a2f2f692e696d6775722e636f6d2f4f72467a5366512e676966" alt="">
<form action="/about" method="get">
  <label for="title">Search Title:  </label>
  <input type="text" id="title" name="title" placeholder="terminator, frozen, etc.">
  <button>search</button>
</div>
</form>
