<h1>New Dinosaur</h1>

<a href="/">Home</a>

<form action="/dinosaurs" method="post">
  <label for="">Genera</label>
  <input type="text" name="genera">

  <label for="">img url</label>
  <input type="text" name="image_url">

  <button>create</button>
</form>
